*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

h2{
    font-weight: normal;
    margin-top: 20px;
}

form{
    max-width: 700px;
    width: 98%;
    margin: 30px auto;
    text-align: center;
}

form fieldset{
    border: 1px solid #ccc;
    padding: 30px 0;
}

form legend{
    color: gray;
    text-align: center;
    padding: 0 10px;
}

input[type=text],input[type=email],select{
    width: 80%;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    margin: 10px 0;
    outline: 0;
    border: 1px solid #ccc;
}

select{
    color: gray;
} 

.container-radio,.container-checkbox{
    display: inline-block;
    margin-top: 20px;
}

.wraper-radio,.wraper-checkbox{
    display: block;
    text-align: left;
}

.wraper-radio span,.wraper-checkbox span{
    padding-left: 8px;
}

textarea{
    width: 80%;
    display: block;
    margin: 20px auto;
    padding: 10px;
    height: 140px;
    resize: none;
    outline: 0;
}

input[type=submit]{
    width: 80%;
    max-width: 200px;
    padding: 10px 0;
    background-color: #ccc;
    border: 0;
    outline: 0;
    cursor: pointer;
}